supra-main-annot/.settings/org.eclipse.wst.jsdt.ui.superType.container
supra-main-annot/.settings/org.eclipse.wst.common.project.facet.core.xml
supra-main-annot/.settings/org.eclipse.m2e.core.prefs
supra-main-annot/.settings/org.eclipse.jdt.core.prefs
supra-main-annot/.settings/.jsdtscope
supra-main-annot/.project
supra-main-annot/.classpath
supra-main-annot/.settings/org.eclipse.wst.validation.prefs
supra-main-annot/.settings/org.eclipse.wst.jsdt.ui.superType.name
supra-main-annot/target/classes/generated/Shiporder.class
supra-main-annot/target/classes/generated/ObjectFactory.class
supra-main-annot/target/classes/generated/Shiporder$Shipto.class
supra-main-annot/target/classes/generated/Shiporder$Item.class
supra-main-annot/target/m2e-wtp/web-resources/META-INF/maven/com.supra.annot/supra-main-annot/pom.xml
supra-main-annot/target/m2e-wtp/web-resources/META-INF/maven/com.supra.annot/supra-main-annot/pom.properties
supra-main-annot/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
supra-main-annot/target/jaxb2/.xjc-xjcStaleFlag
